<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>&nbsp; Admin`s panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav col-6">
            <a class="text-muted text-left" href="/logout">Logout</a>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8081/admin">Admin`s page</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="page-header">
                <h1>
                    Admin panel
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid border">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-27824">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#parametersTable" data-toggle="tab">Parameters table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#newParameter" data-toggle="tab">New Parameter</a>
                        </li>
                    </ul>
                    <div class="tab-content border">
                        <div class="tab-pane show active" id="parametersTable">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-10">
                                        <h5>All parameters</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <table class="table table-hover table-sm text-center">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Parameter Name</th>
                                                <th>Parameter Type</th>
                                                <th>System Name</th>
                                                <th>Parameter Value</th>
                                                <th>Creation Date</th>
                                                <th>Update Date</th>
                                                <th>User Who Last Change Parameters</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="parameter : ${allParams}">
                                                <td th:text="${parameter.getId()}"></td>
                                                <td th:text="${parameter.getParameterName()}"></td>
                                                <td th:text="${parameter.getParameterType()}"></td>
                                                <td th:text="${parameter.getSystemName()}"></td>
                                                <td th:text="${parameter.getParameterValue()}"></td>
                                                <td th:text="${parameter.getCreationDate()}"></td>
                                                <td th:text="${parameter.getUpdateDate()}"></td>
                                                <td th:text="${parameter.getUserWhoLastChangeParameters()}"></td>
                                                <td><a class="btn btn-primary eBtn" th:href="@{/findById/(id=${parameter.getId()})}">Edit</a></td>
                                                <td><a class="btn btn-danger dBtn" th:href="@{/findById/(id=${parameter.getId()})}">Delete</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="myForm">
                            <form action="#" method="post" th:action="@{/save}">
                                <div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade"
                                     id="editModal" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel">Edit parameter</h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal"
                                                        type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <h6>ID</h6>
                                                    <label class="col-form-label" for="idEdit"></label>
                                                    <input class="form-control" id="idEdit" name="id" type="number" value="" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <h6>ParameterName</h6>
                                                    <label class="col-form-label" for="parameterNameEdit"></label>
                                                    <input class="form-control" id="parameterNameEdit" name="parameterName" type="text" value=""/>
                                                </div>
                                                <div class="form-group">
                                                    <h6>ParameterType</h6>
                                                    <label class="col-form-label" for="ParameterTypeEdit"></label>
                                                    <select multiple="multiple" id="ParameterTypeEdit" name="parameterType">
                                                        <option th:each="type : ${allTypes}"
                                                                th:value="${type}"
                                                                th:text="${type}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <h6>SystemName</h6>
                                                    <label class="col-form-label" for="systemNameEdit"></label>
                                                    <select multiple="multiple" id="systemNameEdit" name="systemName">
                                                        <option th:each="system : ${allSystems}"
                                                                th:value="${system}"
                                                                th:text="${system}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <h6>ParameterValue</h6>
                                                    <label class="col-form-label" for="parameterValueEdit"></label>
                                                    <input class="form-control" id="parameterValueEdit" name="parameterValue" type="text" value=""/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">Close
                                                </button>
                                                <input class="btn btn-primary" type="submit" value="Edit"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="myDeleteForm">
                            <form action="#" method="get" th:action="@{/delete}">
                                <div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade"
                                     id="deleteModal" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content text-center">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal"
                                                        type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <h6>ID</h6>
                                                    <label class="col-form-label" for="idDelete"></label>
                                                    <input class="form-control" id="idDelete" name="id" type="number" value="" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <h6>ParameterName</h6>
                                                    <label class="col-form-label" for="parameterNameDelete"></label>
                                                    <input class="form-control" id="parameterNameDelete" name="parameterName" type="text" value="" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <h6>ParameterType</h6>
                                                    <label class="col-form-label" for="parameterTypeDelete"></label>
                                                    <input class="form-control" id="parameterTypeDelete" name="parameterType" type="text" value="" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <h6>SystemName</h6>
                                                    <label class="col-form-label" for="systemNameDelete"></label>
                                                    <input class="form-control" id="systemNameDelete" name="systemName" type="text" value="" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <h6>ParameterValue</h6>
                                                    <label class="col-form-label" for="parameterValueDelete"></label>
                                                    <input class="form-control" id="parameterValueDelete" name="parameterValue" type="text" value="" readonly/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">Close
                                                </button>
                                                <input class="btn btn-danger" type="submit" value="Delete" id="delRef"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="newParameter">
                            <h5>&nbsp; Add new parameter</h5>
                            <div class="container-fluid text-center border">
                                <br>
                                <h6>Parameter Name</h6>
                                <form action="#" th:action="@{/save}" th:object="${newParameter}" method="post">
                                    <label for="parameterName" class="bg-warning"></label>
                                    <input th:field="*{parameterName}" type="text"  id="parameterName" placeholder="Parameter Name">
                                        <br><br>
                                    <h6>Parameter Type</h6>
                                    <label for="parameterType" class="bg-warning"></label>
                                    <select multiple="multiple" id="ParameterType" name="parameterType">
                                        <option th:each="type : ${allTypes}"
                                                th:value="${type}"
                                                th:text="${type}">
                                        </option>
                                    </select>
                                        <br><br>
                                    <h6>System Name</h6>
                                    <label for="systemName" class="bg-warning"></label>
                                    <select multiple="multiple" id="systemName" name="systemName">
                                        <option th:each="system : ${allSystems}"
                                                th:value="${system}"
                                                th:text="${system}">
                                        </option>
                                    </select>
                                    <br><br>
                                    <h6>Parameter Value</h6>
                                    <label for="parameterValue" class="bg-warning"></label>
                                    <input th:field="*{parameterValue}" type="text" id="parameterValue" placeholder="Parameter Value">
                                    <br><br>
                                    <div class="col-2 offset-5">
                                        <input class="btn btn-success btn-block" type="submit" value="New parameter">
                                        <br><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


        $('.table .eBtn').on('click', function (event) {
            event.preventDefault();
            let href = $(this).attr('href');

            $.get(href, function (parameter) {
                $('.myForm #idEdit').val(parameter.id);
                $('.myForm #parameterNameEdit').val(parameter.parameterName);
                $('.myForm #parameterTypeEdit').val(parameter.parameterType);
                $('.myForm #systemNameEdit').val(parameter.systemName);
                $('.myForm #parameterValueEdit').val(parameter.parameterValue);
            });
            $('.myForm #editModal').modal();

        });

        $('.table .dBtn').on('click', function (event) {
            event.preventDefault();
            let href = $(this).attr('href');
            $.get(href, function (parameter) {
                $('.myDeleteForm #idDelete').val(parameter.id);
                $('.myDeleteForm #parameterNameDelete').val(parameter.parameterName);
                $('.myDeleteForm #parameterTypeDelete').val(parameter.parameterType);
                $('.myDeleteForm #systemNameDelete').val(parameter.systemName);
                $('.myDeleteForm #parameterValueDelete').val(parameter.parameterValue);
            });
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        });
    });
</script>
<br>
</body>
</html>