<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>User</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">with roles: USER</a>
    <a class="navbar-brand text-muted" onclick="window.location.href = '/logout';">Logout</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 left-sidebar">
            <section>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active bg-primary text-white rounded" href="#">User</a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="col-md-10 col-sm-5 right-content-block bg-light">

            <h1>Parameter information-page</h1>

            <div class="border rounded">
                <header>
                    <h4>About parameter</h4>
                </header>
                <div class="bg-white">
                    <div class="form-user">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Parameter Name</th>
                                <th scope="col">Parameter Type</th>
                                <th scope="col">System Name</th>
                                <th scope="col">Parameter Value</th>
                                <th scope="col">Creation Date</th>
                                <th scope="col">Update Date</th>
                                <th scope="col">User Who Last Change Parameters</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <tr th:each="parameter : ${parameters}">
                                <td th:text="${parameter.getId()}"></td>
                                <td th:text="${parameter.getParameterName()}"></td>
                                <td th:text="${parameter.getParameterType()}"></td>
                                <td th:text="${parameter.getSystemName()}"></td>
                                <td th:text="${parameter.getParameterValue()}"></td>
                                <td th:text="${parameter.getCreationDate()}"></td>
                                <td th:text="${parameter.getUpdateDate()}"></td>
                                <td><th:block th:each="role : ${parameter.getuserWhoLastChangeParameters()}" th:text="${users.getName()}">&nbsp;</th:block></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

</body>
</html>